fastapi==0.115.0
uvicorn==0.31.0
sqlalchemy==2.0.35
pydantic
pydantic-settings
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
apscheduler==3.10.4
psutil==6.0.0
pywin32; sys_platform == 'win32'
wmi; sys_platform == 'win32'
reportlab==4.2.5
openpyxl==3.1.5
python-multipart==0.0.12
pytest==8.3.3
httpx==0.27.2
sqlite3-to-mysql==2.6.0; sys_platform != 'win32'
pg8000==1.31.2
email-validator
psycopg2-binary==2.9.9
